@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css?family=Titan+One");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('./theme.css');

.page-canvas {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: grey;
  overflow: hidden;
  padding: 0;
  border: greenyellow dotted 1px;
}

h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Header Styles */
header {
  display: flex;
  flex-direction: column;

  h1,
  h2 {
    text-align: center;
  }

}

#headshot {
  padding: 0 40px;
  max-height: 300px;
}

.nav-top-bar {
  height: 100px;
  width: 320px;
  /* display: flex; */
  /* justify-content: space-between; */
}

.logo {
  justify-self: flex-end;

  p {
    font-family: 'source-code-pro', monospace;
    font-weight: 200;
    font-size: 1rem;
  }
}



/* Hamburger Menu Styles */


.container {
  position: relative;
  width: 50%;
  /* border: #01ffc8 5px solid; */

  &.extended {
    height: 250px;
    width: 50%;
    /* position: absolute; */

  }
}

.menu-container {
  background-color: #ffc801;
  border-radius: 100%;
  color: #fff;
  position: absolute;
  width: 100px;
  height: 100px;
  left: -40px;
  top: -40px;
  transition: all 0.3s;
  z-index: 2;

  &.full-menu {
    background-color: #ffc801ab;

    border-radius: 0 50px 50px 0;
    padding: 0 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .menu {
      top: 0px;
      left: 10px;
    }
  }

  .menu {
    color: #151515;
    font-size: 1.5em;
    position: absolute;
    top: 40px;
    left: 50px;
    z-index: 100;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 3;


    i {
      transform: scale(1);
      transition: all 0.3s;
    }

    i:hover {
      transform: scale(1.2);
    }
  }
}

.overlay {
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  &.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s;

      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.45s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.5s;
      }
    }
  }

  nav {
    font-size: 1.2em;
    font-family: "Titan One", san-serif;
    position: relative;
    height: 50%;
    top: 25%;
    transform: translateY(-50%);
    font-weight: 400;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }

  li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }

  a {
    display: block;
    position: relative;
    color: #151515;
    text-decoration: none;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.3s;
  }

  a:is(:hover, :focus, :active) {
    transform: scale(1.2);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

/* Overview Styles */


/* Bio Styles */

.bio-container {}