@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css?family=Titan+One");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');




/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.75rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

a {
  text-decoration: none;
}

/* .page-canvas {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0 auto;
  background: grey;
  overflow: hidden;
  padding: 0;
  border: greenyellow dotted 1px;
  scroll-behavior: smooth;
} */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.2;
}



img {
  display: block;
  max-width: 100%;
}

/* .accent-text {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  margin: 0;
  padding: 0
} */

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: .5em 2.5em;
  border: none;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1)
}

h2 {
  font-size: var(--fs-h2)
}

h3 {
  font-size: var(--fs-h3)
}


.section__title {
  margin-bottom: .25em;
}



.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--services,
.section__subtitle--contact {
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* Header Styles */
header {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 0;


}

.logo {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  font-size: 1.25rem;
  text-align: right;
  padding-right: 1em;
}


/* Intro Styles */

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.section__title--intro {
  font-weight: var(--fw-reg);
  /* text-align: center; */
}

.section__title--intro strong {
  display: block;
}

.intro__img {
  box-shadow: var(--bs);
  min-width: 250px;
}

.section__subtitle--intro {
  display: inline-block;
  text-align: center;
}

@media (min-width: 600px) {
  .intro {
    text-align: left;
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }

  .section__title--intro {
    text-align: left;
  }
}

/* Services Styles */

.my-services {
  background-color: var(--clr-dark);
  background-image: url('/img/services-bg.jpg');
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
  padding: 0 2em;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background-color: var(--clr-light);
}

@media (min-width: 800px) {
  .services {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    gap: 2em;
  }

  /* .service+.service {
    margin-left: 2em;
  } */
}




/* Hamburger Menu Styles */


.container {
  position: relative;
  width: min-content;
  /* border: #01ffc8 5px solid; */

  &.extended {
    height: 100vh;
    width: 50%;
    position: absolute;
  }


}

.menu-bknd {
  background-color: #ffc801ab;
  border-radius: 100%;
  color: #fff;
  position: absolute;
  width: 10%;
  height: 10%;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 3;

  &.full-menu {
    background-color: #ffc801ab;
    border-radius: 0 50px 50px 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .nav-toggle {
      top: 5px;
      left: 5px;
    }
  }

  .nav-toggle {
    color: #151515;
    font-size: 1.5em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
    z-index: 3;


    /* i {
      transform: scale(1);
      transition: all 0.3s;
    } */

    i:hover {
      transform: scale(1.2);
    }
  }
}

.overlay {
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  &.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s;

      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }

      &:nth-of-type(3) {
        animation-delay: 0.45s;
      }

      &:nth-of-type(4) {
        animation-delay: 0.5s;
      }
    }
  }

  nav {
    font-size: 2rem;
    font-family: "Titan One", san-serif;
    position: relative;
    height: 50%;
    top: 25%;
    transform: translateY(-50%);
    font-weight: 400;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }

  li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }

  a {
    display: block;
    position: relative;
    color: #151515;
    text-decoration: none;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.3s;
    scroll-behavior: smooth;
  }

  a:is(:hover, :focus, :active) {
    transform: scale(1.2);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

/* Skills Styles */


/* Bio Styles */

/* Work Styles */

/* My Work */

.my-work {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.portfolio {
  margin: 0 auto;
  height: 500px;
  background-color: var(--clr-dark);
  /* display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}

.portfolio__item {
  background: var(--color-accent);
  overflow: hidden;

}

.portfolio__subtitle {
  color: var(--clr-accent);
  font-family: var(--ff-secondary);
  font-size: 1.3rem;
}

.portfolio__subtitle:link {
  text-decoration: none;

}

.portfolio__img {
  margin: 0 auto;
  opacity: .7;
  transition:
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
  object-fit: cover;
  height: 80%;
}

.portfolio__vid {
  margin: 0 auto;
  opacity: .7;
  transition:
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
  object-fit: cover;
  height: 30rem;
  cursor: pointer;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__vid:hover,
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.1);
  opacity: 1;
}

/* Carousel Styles */

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 50;
}

/* Portfolio Item Styles */

.portfolio__modal {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 80%;
  background-color: var(--clr-dark);
  position: fixed;
  color: aliceblue;
  margin: 0 auto;
  z-index: 5;
}